# Byte-compiled / optimized / DLL files
__pycache__/
app/database/__pycache__/
app/crud/__pycache__/
app/models/__pycache__/
app/api/__pycache__/
app/schemas/__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# IDEs and editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# Local database / misc
*.sqlite3
instance/
*.db
